@charset "UTF-8";

.{
  margin: 0px;
  padding: 0px;
  
}

body {
  background: rgb(104, 176, 225);
  font-family: Arial, Helvetica, sans-serif;
}

header {
 color: white;
   text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  margin: auto;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.415);
}

div {
  text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
